%h1 New Bookmark

.row
  .col-md-8
    = form_for @bookmark do |f|
      -# .form-group
      -#   = f.label :title
      -#   = f.text_field :title, class: 'form-control'
      .form-group
        = f.label :url
        = f.text_field :url, class: 'form-control'
      .form-group
        = f.label :categories
        = f.text_field :sorted_categories, class: 'form-control', placeholder: 'lowercase categories, separated by a comma'
      .form-group
        = f.submit "Save", class: 'btn btn-success'
