<!DOCTYPE html>
<html>
<head>
  <title>Blocmarks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="nav nav-tabs">
        <div class="pull-left nav-left">
          <%= link_to "Trending", root_path %>
          <%= link_to "My Bookmarks", bookmarks_path %>
        </div>

        <div class="pull-right nav-right">
          <% if current_user %>
            <%= link_to  (current_user.name || current_user.email), edit_user_registration_path %><a href="/users/edit"><i class="glyphicon glyphicon-user"></i></a>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign in", new_user_session_path %>
            <%= link_to "Sign up", new_user_registration_path %>
          <% end %>
        </div>
      </div>
    </div>

    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>

  </div>

</body>
</html>
